body {
    font-family: 'Inter', sans-serif;
}

.top-banner {
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
}

.top-banner h1 {
    font-size: 58px;
    font-weight: 900;
    color: #575757;
    line-height: 40px;
}

.top-banner .orange-color {
    color: orange
}

.top-banner p {
    color: dimgray;
    font-size: 20px;
    margin-bottom: 68px;
}

.order-food-btn {
    background-image: linear-gradient(to right, #FB934A, #FE4C2F);
    padding: 20px 40px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    border-radius: 35px;
}

.top-banner-img-container-div {
    position: relative;

}

.top-banner-top-img {
    position: absolute;
    top: -127px;
    right: 12px;
    width: 693px;
}

.top-banner-bottom-img {
    width: 600px;

}

.banner-section {
    margin-top: 40px;
    margin-left: 10px;
}

.about-me {
    display: flex;
    margin: 100px;
    /* background-image no found
     background-image: url(../images/shapes/); */
}

.about-me-img {
    width: 320px;
}

.about-me .half-width {
    /* width: 40%; */
    width: 47%;
}

.about-me h2 {
    font-size: 40px;
    font-weight: 900;
    color: dimgray;
}

.about-me-details {
    margin-left: 20px;
}

.about-me-details p {
    font-size: 18px;
    color: #283434;
    margin-bottom: 110px;
    line-height: 35px;
}

.my-recipies {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.my-recipies-p {}