body {
    font-family: 'Inter', sans-serif;
}

.top-banner {
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
}

.top-banner h1 {
    font-size: 58px;
    font-weight: 900;
    color: #575757;
    line-height: 40px;
}

.top-banner .orange-color {
    color: orange
}

.top-banner p {
    color: dimgray;
    font-size: 20px;
}

.top-banner .order-food-btn {
    background-image: linear-gradient(to right, #FB934A, #FE4C2F);
    padding: 20px 40px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    border-radius: 35px;
}

.top-banner-img-container-div {
    position: relative;

}

/* .top-banner-top-img {
    position: absolute;
    top: 0;
    right: 10;
} */

.top-banner-top-img {
    position: absolute;
    top: -127px;
    right: 12px;
    width: 693px;
}

.top-banner-bottom-img {
    width: 600px;

}

.banner-section {
    margin-top: 40px;
    margin-left: 10px;
}